.contacts {
  &__content {
    @include page-grid;

    @include on-tablet {
      column-gap: 24px;
      height: 382px;
    }
  }
}

.form {
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: span 3;
  }

  @include on-desktop {
    grid-column: span 5;
  }

  &__content {
    display: grid;
    row-gap: 16px;
    margin-bottom: 48px;
  }

  @include on-tablet {
    margin: 0;
  }
}

.label {
  &__input {
    box-sizing: border-box;
    display: block;
    padding: 16px 0 16px 16px;

    width: 100%;
    border-radius: 40px;
    border: none;
    outline: none;

  }

  &__textarea {
    box-sizing: border-box;
    display: block;
    padding: 16px 0 16px 16px;
    margin-bottom: 16px;

    width: 100%;
    height: 148px;
    border-radius: 16px;
    border: none;
    resize: none;
    outline: none;
  }
}



.address {
  height: 244px;
  grid-column: 1 / -1;

  @include on-tablet {
    grid-column: 4 / 6;
  }

  @include on-desktop {
    grid-column: 8 / 11;
  }

  &__label {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    color: #fff;
    text-decoration: none;
  }
}
