.footer {
  background-image: url(../images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 85%;
  width: 100%;
  height: 200px;

  @include on-tablet {
    background-size: 140%;
    height: 480px;
  }

  @include on-desktop {
    background-size: 100%;
    min-height: 555px;
  }
}
