.footer {
  background-image: url(../images/footer-bg-mobile.png);
  background-size: cover;
  min-height: 200px;

  @include on-tablet {
    background-image: url(../images/footer-bg-tablet.png);
    min-height: 480px;
  }

  @include on-desktop {
    background-image: url(../images/footer-bg-desktop.png);
    min-height: 555px;
  }
}
