
.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: contain;

  @include on-tablet {
    height: 32px;
    width: 32px;
  }


  @include hover(transform, scale(1.2));

  &--phone {
    background-image: url(/src/images/icons/icon-phone.svg);
  }

  &--menu {
    background-image: url(/src/images/icons/icon-menu.svg);

    &:hover {
      background-image: url(/src/images/icons/icon-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(/src/images/icons/icon-close.svg);
  }
}

.phone-link {
  opacity: 0;
}
