.main {
  &__content {
    box-sizing: border-box;
    display: grid;
    row-gap: 92px;
    padding-block: 60px 120px;

    @include on-tablet {
      padding-block: 120px 102px;
    }

    @include on-desktop {
      padding-bottom: 164px;
    }

    @include fade-up-blur;
  }
}
